name: Greetings

on:
  issues:
    types: [opened]
  pull_request_target:
    branches: [main]

permissions: {}

jobs:
  greetings:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/greetings.yml@2d3c39a47c6af3b9d57a230bcaf57d03093e96db # 0.31.2
    permissions:
      contents: read
      issues: write
      pull-requests: write
