name: Internal - Main - Continuous Integration

on:
  push:
    branches: [main]
    tags: ["*"]

permissions:
  contents: read
  id-token: write
  pages: write
  security-events: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate-docs:
    name: Generate Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Documentation
        uses: ./.github/actions/generate-docs
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - id: generate-github-actions-docs
        uses: hoverkraft-tech/ci-dokumentor@c46a1a108957237cf485103a80b060c35c7dba33 # 0.2.2
        with:
          source: |
            .github/actions/**/action.yml
            .github/workflows/sync-docs-dispatcher.yml

      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: generate-token
        with:
          app-id: ${{ vars.CI_BOT_APP_ID }}
          private-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}

      - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@c314229c3ca6914f7023ffca7afc26753ab99b41 # 0.30.1
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          branch: docs/action-documentation-update
          title: "docs: update action documentation"
          body: Update action documentation
          commit-message: |
            docs: update action documentation

            [skip ci]

  ci:
    name: Run CI Checks
    needs: generate-docs
    uses: ./.github/workflows/__shared-ci.yml
    secrets: inherit
    permissions:
      contents: read
      security-events: write
      # FIXME: This is a workaround for having workflow ref. See https://github.com/orgs/community/discussions/38659
      id-token: write

  deploy:
    if: github.ref_name == github.event.repository.default_branch
    name: Deploy website
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.url }}
    steps:
      - id: deployment
        uses: hoverkraft-tech/ci-github-publish/actions/deploy/github-pages@dbdcce2870b33525ac1fa26069bf95b2dd586fda # 0.15.2
        with:
          build-path: application/build
          build-artifact-name: build
